body{
    text-align: center;
}
.board-row{
    display: flex;
    justify-content: center;
}

.signBox{
    border: 1px solid;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.playerXTurn{
    color: red;
}
.playerOTurn{
    color: blue;
}