body{
    text-align: center;
    /* font-family: 'Cabin', sans-serif; */
font-family: 'IBM Plex Sans', sans-serif;
}
.board-row{
    display: flex;
    justify-content: center;
}

.signBox{
    border: 1px solid;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    cursor: pointer;
}

.playerXTurn{
    color: red;
}
.playerOTurn{
    color: blue;
}

.resetButton{
    background-color: black;
    color: white;
    font-weight: 700;
    position: absolute;
    right: 20%;
    cursor: pointer;
    padding: 5px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: rgb(0,0,0); */
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    color: white;
    position: relative;
    top: 25%;
    width: 100%;
    font-size: x-large;
    text-align: center;
    margin-top: 30px;
  }

  .overlay .closebtn {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 4rem;
    color: red;
  }
  
.resetButton2{    
    padding: 1rem;
    font-weight: bolder;
    font-size: large;
    margin: 0.5rem;
}
@media only  screen and (max-width:480px){
    .resetButton{
        display: block;
        margin: auto;
        position: static;
        margin-top: 0.5rem;
    }
}
@media only  screen and (max-width:769px){
    .resetButton{
        right:10px;
    }
}
